* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: auto;
    
}

.logo img {
    width: 250px;
    display: block;
    margin: auto; 
    padding-top: 10px;
}

.new-todo {
    text-align: center;
    padding: 35px;
}

input {
    padding: 10px 20px;
    border-radius: 15px;
    border-width: 1px;
    margin-right: 10px;
}

button {
    padding: 10px;    
}

.todo-container {
    background-color: lightgray;
    padding: 25px;
}

.todo-list {
    list-style-type: none;
}

.todo-list li {
    border-bottom: 1px solid grey;
    padding: 10px;
    font-size: 20px;
}

.delete {
    float: right;
}